
h1{
color:rgb(255, 0, 30);    
}
body
{
background-color:rgb(235, 235, 235);
font-family: 'Playfair Display', serif;

}
h2
{
color:darkorange
}
div{
 background-color: rgb(47, 9, 240);
}
#hi {
 background-color:rgb(17, 128, 184);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }